.App {
  display: flex;
  flex-direction: column;
}

.App main {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 40px auto;
  gap: 15px;
  flex-wrap: wrap;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 5px;
  list-style: none;
}

.paginate li {
  cursor: pointer;
  transition: 0.4s;
}

.paginate li:hover {
  border-bottom: 1px solid;
}

.active-page {
  margin-top: -10px;
  border-bottom: 1px solid;
}
